In [1]:
name = 'prodip'
name_1 = "prodip"
details = """ my name is prodip and i am from kolkata """
print(type(name))
print(type(name_1))
print(type(details))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
s1 = "don't"
s2 = 'don"t'
print(s1)
print(type(s1))
print(s2)
print(type(s2))

don't
<class 'str'>
don"t
<class 'str'>

In [4]:
a = "euron"
a[0]

'e'

In [5]:
a[-1]

'n'

In [6]:
a[:]

'euron'

In [7]:
a[:2]

'eu'

In [8]:
a[0:4]

'euro'

In [12]:
a[0:3:2]

'er'

In [14]:
a[4:0:-1]

'noru'

In [13]:
a[::-1]

'norue'

In [15]:
name = "rahul"
print(id(name))

140299100093168

In [16]:
modify = name + 'kumar'
print(id(modify))

140299100207472

In [17]:
name = name + 'kumar'
print(name)
print(id(name))

rahulkumar
140299099963824

In [19]:
n = "prodip"
n[0] = "d"

TypeError: 'str' object does not support item assignment

In [20]:
# when different variables store same value with same memory location, This concept is called interning
a = "prodip"
b = "prodip"

In [21]:
id(a)

140299099792496

In [22]:
id(b)

140299099792496

In [23]:
c = "prodip" + "sarkar"
c

'prodipsarkar'

In [25]:
d = "prodipsarkar"
d

'prodipsarkar'

In [26]:
print(id(c))
print(id(d))

140299100154288
140299100154288

In [30]:
text = "prodip sarkar"

In [31]:
print(text.upper())
text = text.upper()
print(text)

PRODIP SARKAR
PRODIP SARKAR

In [32]:
text = text.lower()
print(text)

prodip sarkar

In [33]:
text = text.capitalize()
print(text)

Prodip sarkar

In [34]:
text = text.title()
print(text)

Prodip Sarkar

In [35]:
s1 = "Prodip Sarkar"
s1.swapcase()

'pRODIP sARKAR'

In [36]:
s1.casefold()

'prodip sarkar'

In [37]:
s = "my name is prodip"
s.find("is")

8

In [38]:
s.find("now is ")

-1

In [40]:
s.index("is")

8

In [41]:
s.index("now is")

ValueError: substring not found

In [44]:
s.count("s")

1

In [48]:
print(text)
text.isalpha()

Prodip Sarkar

False

In [49]:
name = "prodip"
name.isalpha()

True

In [54]:
s = "myageis"
s.isalnum()

True

In [58]:
print("my name is prodip sarkar \ni am from Kolkata")

my name is prodip sarkar
i am from Kolkata

In [56]:
print("my name is prodip sarkar \t i am from \t Kolkata")

my name is prodip sarkar 	 i am from 	 Kolkata

In [57]:
print("my name is prodip sarkar \\ i am from Kolkata")

my name is prodip sarkar \ i am from Kolkata

In [1]:
print("\\")

\

In [3]:
raw_data = "C:\Users\prodip\python"
raw_data

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2531201473.py, line 1)

In [2]:
raw_data = r"C:\Users\prodip\python"
raw_data

'C:\\Users\\prodip\\python'

In [4]:
raw_data = "C:\\Users\\prodip\\python"
raw_data

'C:\\Users\\prodip\\python'

In [5]:
print("\U0001F600") # Unicode

😀

In [6]:
print("\u00A9")

©

In [7]:
print("\N{GREEK CAPITAL LETTER DELTA}")

Δ

In [8]:
""" 
i am prodip
my age is 35
i am from Kolkata

"""

' \ni am prodip\nmy age is 35\ni am from Kolkata\n\n'

In [9]:
"i am prodip"\
" my age is 35"\
" i am from Kolkata"

'i am prodip my age is 35 i am from Kolkata'

In [11]:
name = "prodip"
age = 34
address = "kolkata"
details = f"my name is {name} and my age is {age} and i am from {address}"
print(details)

my name is prodip and my age is 34 and i am from kolkata

In [15]:
name = input("enter your name")
age = int(input("enter your age"))
print("my name is {} and age is {}".format(name,age))
print("my name is {0} and age is {1}".format(name,age))
print("my name is {name} and age is {age}".format(name=name, age=age))

my name is prodip and age is 35
my name is prodip and age is 35
my name is prodip and age is 35

In [16]:
from string import Template

In [17]:
Template("my name is $name and my age is $age").substitute(name=name,age=age)

'my name is prodip and my age is 35'

In [18]:
email_template = Template(
    """
    From:$sender
    To:$receiver
    Subject:$subject
    $body
    """
)

In [22]:
email_template.substitute(sender="prodip1023@gmail.com",
                          receiver="test@gmail.com",
                          subject="test",
                          body="this is a test email")

'\n    From:prodip1023@gmail.com\n    To:test@gmail.com\n    Subject:test\n    this is a test email\n    '